<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check dat .well-known</title>
    <link rel="icon" href="{{  url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<h1>Check dat .well-known</h1>
<div class="container">
    <form id="check-form">
        <input type="text" name="domain" placeholder="Enter domain" required>
        <button type="submit">Check</button>
    </form>

    <div id="messages">
        {% if error %}
        <div class="error-message">{{ error }}</div>
        {% endif %}

        {% if success %}
        <div class="success-message">{{ success }}</div>
        {% endif %}
    </div>
</div>

<div id="results"></div>
<div class="loading-spinner" id="loading-spinner"></div>
{% include 'version_indicator.html' %}
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
